# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Local env
.env

# Data/artifacts (keep folders, ignore contents)
data/raw/*
data/processed/*
data/artifacts/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/artifacts/.gitkeep

# Reports (keep folders, ignore contents)
reports/**
!reports/.gitkeep

# Notebooks outputs
.notebooks/
.ipynb_checkpoints/
